.banner-section{
    background-color: #DFE2DF;
}
.custom-row{
    padding: 10px;
    margin: 0px !important;
    background-color: #fff;
}
.banner-item{
    padding: 5px !important;
}
.banner-item img{
    width: 100%;
}

@media (min-width: 667px){
    .banner-item img {
        height: 250px;
    }
}
