.coustom-carousel {
    margin-top: 45px;
    padding: 10px;
    background-color: #FFFFFF;
}

.carousel-item img {
    height: 280px; /* Default height for larger screens */
    object-fit: cover; /* Ensures proper aspect ratio */
  }
@media (max-width: 768px) {
    .carousel-item img {
      margin-top: 50px;
      height: 170px; /* Set height to 400px for smaller screens */
    }
  }